html {
  width: 100%;
  /* height: 100%; */
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
  background-color: #527077;
  background-image: url("photos/pexels-mudassir-ali-2680270.jpg");
}

header {
  margin-bottom: 20px;
}

ul li a {
  font-weight: bolder;
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  padding: 0px 0px 0px 20px;
}

footer {
  text-transform: uppercase;
  font-weight: bolder;
}

footer a {
  color: tomato;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #efe8d9;
}

h2 {
  color: #efe8d9;
  font-weight: bolder;
}

h3 {
  color: #efe8d9;
}

div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.inputvin {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 10px #666;
  width: 240px;
  height: 50px;
  background-color: #f2f2f2;
}

.submitButton {
  width: 240px;
  height: 60px;
  background-color: #242428;
  color: #ffffff;
}

table {
  background-color: #efe8d9;
  background-image: url("photos/pexels-lorenzo-242236.jpg");
  margin: 0 auto;
  margin-bottom: 30x;
  border: 10px double black;
  text-align: center;
  border-spacing: 2px;
  max-width: 75%;  
}

th {
  border: 2px solid;
}

td {
  border: 4px double #242428;
  padding: 2px;
}

td input {
  text-align: center;
  width: 50%;
}

.buttons {
  margin-top: 20px;
}

h3 {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.editdata {
  background-color: #242428;
  color: white;
  border-radius: 100%;
  padding: 10px;
}

.searchtable {
  max-width:40%;
}